doctype html
html
  head
    title Your Dino Match
    link(rel="stylesheet",type="text/css",href="/css/dino-match.css")
    link(rel="stylesheet",type="text/css",href="/css/styles.css")
    link(rel="icon", href="favicon.ico")
  body
<<<<<<< HEAD
    .paleo-ninja
      span#paleo Paleo
      span#dash -
      span#ninja Ninja
    p.result= dino_result
    
=======
    a#sitename(href="http://127.0.0.1:3000")
      .paleo-ninja(href="http://127.0.0.1:3000")
        span#paleo Paleo
        span#dash -
        span#ninja Ninja
    p.result= result_dino
    .form
      form.username-form(action='http://127.0.0.1:3000/dino-match-update' method='post')
        input.username-input(name='username' type='text' placeholder='Enter another Fortnite username...')
        input#go-button(type='submit' value='Find my Dino!')
>>>>>>> 1fba25d78b258ea2f257710200361b68a36c5d2d
