doctype html
html
  head
    title Your Dino Match
    link(rel="stylesheet",type="text/css",href="/css/dino-match.css")
  body
    .paleo-ninja
      span#paleo Paleo
      span#dash -
      span#ninja Ninja
    p.result= dino_result
