@font-face {
  font-family: JurassicPark;
  src: url("../fonts/Jurassic Park.ttf");
}
@font-face {
  font-family: FortniteFontTHICC;
  src: url("../fonts/BurbankBigCondensed-Black.otf");
}
@font-face {
  font-family: FortniteFont;
  src: url("../fonts/BurbankBigCondensed-Bold.otf");
}
html {
  background-color: #222222;
}
#paleo {
  font-family: JurassicPark;
  font-size: 200px;
  color: firebrick;
}
#dash {
  font-family: JurassicPark;
  font-size: 180px;
  color: white;
}
#ninja {
  font-family: FortniteFontTHICC;
  font-size: 140px;
  color: #fff130;
}
.paleo-ninja {
  text-align: center;
}
.result {
  color: white;
  font-family: FortniteFont;
  font-size: 40px;
  padding-left: 25%;
  padding-right: 25%;
  text-align: justify;
}
